*.class
demonstrations/lab9/
demonstrations/lab10/
demonstrations/lab11/
demonstrations/lab12/
demonstrations/lab13/
demonstrations/lab14/

preparations/lab9/
preparations/lab10/
preparations/lab11/
preparations/lab12/
preparations/lab13/
preparations/lab14/
